@using Microsoft.Extensions.Configuration
@using NextStar.Identity.Configs
@inject IConfiguration Configuration
@{
    var jsConfig = Configuration.Get<AppSettingPartial>().JavaScript.ToArray();
    var styleConfig = Configuration.Get<AppSettingPartial>().StyleSheet.ToArray();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NexStar</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="@ViewData["Author"]">
    <link rel="apple-touch-icon" sizes="180x180" href="~/image/common/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/image/common/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/image/common/favico/favicon-16x16.png">
    <link rel="manifest" href="~/image/common/favico/site.webmanifest">
    @foreach (var t in styleConfig)
    {
        @:<link rel="stylesheet" href="@t.Url" data-name="@t.Name">
    }
    <link rel="stylesheet" href="~/css/Account/account.css"/>
    @await RenderSectionAsync("Heads", required: false)
</head>
<body>
<div id="LoginWarp">
    <div id="LoginMain">
        @RenderBody()
    </div>
</div>
    
@foreach (var t in jsConfig)
{
    @:<script src="@t.Url" data-name="@t.Name"></script>
}
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>